textarea {
    min-height: 50vh;
    max-height: 50vh;
    resize: none;
}

code {
    user-select: all;
    font-family: Consolas, monospace;
}

.main {
    display: block !important;
}

.msgfinal > button {
    width: 20vw;
}

@media(max-width:800px) {

    #mainheading {
        display: block !important;
        padding: 5px 4vw;
    }

    .msgfinal > button {
        width: 100%;
    }

}