#main {
    position: sticky;
    top: -18vh;
    height: 23vh;
    background: var(--maingradfallback);
    background: linear-gradient(180deg, rgba(126,70,21,1) 0%, rgba(21,45,96,1) 33%, rgba(126,70,21,1) 67%, rgba(21,45,96,1) 100%);
    background-size: 100% 300%;
    padding: 2vh;
    border-radius: 0 0 100% 100% / 0 0 30% 30%;
    box-shadow: black 0 0 20px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    animation: gradientScroll 20s ease infinite;
    z-index: 5;
}

@keyframes gradientScroll {
    0% {
        background-position: 50% 0%;
    }

    100% {
        background-position: 50% 100%;
    }
}

#ilogo {
    height: 15vh;
    width: 15vh;
    margin-right: 1vw;
    margin-bottom: 3vh;
    animation: logoPulse 30s ease-in-out infinite;
}

@keyframes logoPulse {
    0% {
        transform: scale(0.975);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(0.975);
    }
}

#logo {
    font-size: 10vh;
    color: white;
    margin: 0;
    margin-bottom: 3vh;
}

#searchbar {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 8vh;
}

    #searchbar > div {
        width: fit-content;
        background-color: var(--accent);
        padding: 1vh;
        border-radius: calc(3vh + 2px);
        cursor: pointer;
        box-shadow: var(--shadow) 0 5px 5px -3px;
        border: solid 2px var(--accent);
        transform: translateX(0);
        transition: 1s ease-out, transform .3s ease-out, .3s ease-out box-shadow;
        will-change: transform;
    }

        #searchbar > div:hover, #searchbar.compacted > div:hover {
            box-shadow: yellow 0 0 10px 0;
            transform: translateX(var(--shift, 0px)) scale(1.05);
        }

#searchbar > div > input {
    width: 30vw;
    font-family: 'Funnel Display';
    font-weight: bold;
    font-size: 3vh;
    transition: .3s ease-out;
}

#searchbar > div > img {
    height: 5vh;
    width: 5vh;
    margin-left: 1vh;
    transition: .3s ease-out;
}

    #searchbar.compacted > div {
        border-radius: 4vh;
        box-shadow: black 0 3px 3px -2px;
        border-color: var(--border);
        transform: translateX(var(--shift, 0px));
    }

#searchbar.compacted > div > input {
    width: 0;
    padding: 0;
    border-width: 0;
}

#searchbar.compacted > div > img {
    margin-left: 0;
}

@media(max-width:800px) {
    #main {
        position: sticky;
        top: -25vw;
        height: 36vw;
        padding: 4vw;
        border-radius: 0 0 100% 100% / 0 0 20% 20%;
    }

    #ilogo {
        height: 20vw;
        width: 20vw;
        margin-right: 2vw;
        margin-bottom: 4vw;
        animation: logoPulse 30s ease-in-out infinite;
    }

    #logo {
        font-size: 12vw;
        color: white;
        margin: 0;
        margin-bottom: 4vw;
    }

    #searchbar {
        top: 22vw;
        justify-content: flex-end;
    }

        #searchbar > div {
            flex-direction: row;
            padding: 2vw;
            border-radius: calc(6vw + 2px);
        }

            #searchbar > div > input {
                width: 72vw;
                font-size: 6vw;
            }

            #searchbar > div > img {
                height: 10vw;
                width: 10vw;
                margin-left: 2vw;
            }
        #searchbar.compacted > div {
            border-radius: 8vw;
            transform: translateX(0px);
        }
}