:root {
    --maingrad: linear-gradient(180deg, rgba(126,70,21,1) 0%, rgba(21,45,96,1) 100%);
    --maingradfallback: rgb(14, 26, 51);
    --accent: #3b4b26;
    --border: #906a00;
    --shadow: #b1b0507d;
    --bg: #12131b;
    --lightbg: #252635;
    --lightbgaccent: #36384e;
}

@font-face {
    font-family: 'currencycompnus';
    src: url('/site/font/currencycompnus.eot?53016310');
    src: url('/site/font/currencycompnus.eot?53016310#iefix') format('embedded-opentype'), url('/site/font/currencycompnus.woff2?53016310') format('woff2'), url('/site/font/currencycompnus.woff?53016310') format('woff'), url('/site/font/currencycompnus.ttf?53016310') format('truetype'), url('/site/font/currencycompnus.svg?53016310#currencycompnus') format('svg');
    font-weight: normal;
    font-style: normal;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 100px;
    cursor: default;
}

    *::-webkit-scrollbar-thumb:hover {
        background: yellow;
    }

*::-webkit-scrollbar-corner {
    background: none;
}

html,body{
    padding: 0;
    margin: 0;
    background-color: var(--bg);
    color: white;
}

p, li, input, select, option {
    font-size: 2vh;
    font-family: Ubuntu;
}

h0, h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu;
}

h0 {
    font-size: 3vh;
}

h2 > .resm {
    font-size: 2vh;
    font-family: 'Funnel Display';
    font-weight: 400;
    font-style: italic;
    color: #ccc;
    display: inline-block;
    margin: 0 0 0 1vw;
}

input, select {
    color-scheme: dark;
}

select {
    cursor: pointer;
}

button {
    font-weight: 700;
    font-size: 2vh;
    line-height: 1;
    border-radius: 2vh;
    padding: 1vh 2vh;
    border: var(--border) solid 3px;
    background: var(--bg);
    color: white;
    font-family: 'Gabarito';
    transition: 0.2s ease;
    cursor: pointer;
}

button:hover {
    background: var(--lightbg);
}

button:active {
    background: var(--bg);
    transform: scale(0.9);
}

textarea {
    border: var(--border) solid 2px;
    width: calc(100% - 2vh - 4px);
    resize: vertical;
    min-height: 20vh;
    max-height: calc(50vh - 8px);
    font-size: 2vh;
    border-radius: 2vh;
    padding: 1vh;
    background: var(--bg);
    color: white;
    transition: box-shadow 0.3s ease;
    font-family: 'Ubuntu';
}

    textarea:focus {
        outline: none;
        box-shadow: var(--border) 0 0 5px, var(--border) 0 0 5px inset;
    }

    textarea::-webkit-scrollbar, div.popup > div::-webkit-scrollbar {
        width: 9px;
        height: 0;
    }

    textarea::-webkit-scrollbar-track, div.popup > div::-webkit-scrollbar-track {
        background: none;
    }

    textarea::-webkit-scrollbar-thumb, div.popup > div::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 100px;
        border: solid 3px var(--bg);
        cursor: default;
    }

        textarea::-webkit-scrollbar-thumb:hover, div.popup > div::-webkit-scrollbar-thumb:hover {
            background: var(--lightbgaccent);
        }

    textarea::-webkit-scrollbar-corner, div.popup > div::-webkit-scrollbar-corner {
        background: none;
    }

header {
    display: flex;
    align-items: center;
    background: var(--maingradfallback);
    background: var(--maingrad);
    box-shadow: black 0 0 10px;
    padding: 1vh;
    position: sticky;
    top: 0;
    z-index: 999;
}

#headerlogo {
    height: 6vh;
    width: 6vh;
    margin-right: 1vw;
    transition: filter ease 1s, transform ease 1s;
}

#headerlogo:hover {
    filter: drop-shadow(white 0 0 3px);
    transform: scale(1.05);
}

#title {
    font-size: 4vh;
    font-family: 'Gabarito';
    margin: 0;
}

#headernav, #footernav {
    flex: 1;
    align-items: baseline;
    justify-content: flex-end;
    display: flex;
}

footer {
    display: flex;
    align-items: center;
    background: var(--maingradfallback);
    box-shadow: black 0 0 10px;
    padding: 2vh;
}

#footnote{
    margin: 0;
    font-family: 'Ubuntu';
    font-size: 2vh;
    line-height: 1;
}

main {
    padding: 2vh;
    min-height: 82vh;
}

main.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.landing {
    background-color: var(--accent);
    padding: 2vh;
    border-radius: 4vh;
    box-shadow: var(--shadow) 0 5px 10px;
    text-align: center;
}

.flex {
    display: flex;
}

.flex.cc {
    align-items: center;
    justify-content: center;
}

a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-decoration: none;
}

.link {
    color: yellow;
    transition: ease-out 0.2s;
    line-height: 1;
}

.link:hover {
    color: orangered;
    text-shadow: black 0 0 3px;
}

    .link.nav, .link.hnav, .link.fnav {
        font-family: 'Funnel Display';
        color: white;
        font-weight: 800;
        font-size: 3vh;
        margin: 0;
        display: block;
        line-height: 1;
    }

.link.hnav {
    margin-right: 2vw;
}

.link.fnav {
    margin-left: 2vw;
    font-size: 2vh;
    font-family: Ubuntu;
    font-weight: 700;
}

.link.nav:hover, .link.hnav:hover, .link.fnav:hover {
    color: yellow;
}

.grid {
    display: grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

    .grid.unirow {
        grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
        grid-template-rows: 1fr;
    }

.input {
    display: flex;
    width: 1fr;
    margin-bottom: 1vh;
    align-items: center;
}

.input > label {
    font-size: 2vh;
    margin-right: 0.5vw;
    font-family: 'Funnel Display';
    font-weight: 500;
    flex: 1;
    white-space: nowrap;
    text-align: left;
}

    .input > input, .input > .halve > input, .input > select, .input > .halve > select {
        width: 15vw;
        font-size: 2vh;
        border-radius: 2vh;
        padding: 1vh;
        border: var(--border) solid 2px;
        background: var(--bg);
        color: white;
        transition: 0.3s ease;
    }

    .input > .halve {
        display: flex;
        align-items: center;
        width: calc(15vw + 2vh + 4px);
    }

    .input > .halve > input, .input > .halve > select {
        width: calc(14.5vw - 5vh);
        margin-right: 0.5vw;
    }

        .input > .halve > button {
            font-size: 2vh;
            border-radius: 2vh;
            padding: 1vh;
            border: var(--border) solid 2px;
            font-weight: 500;
            transition: 0.3s ease;
            width: 5vh;
            display: block;
            height: 100%;
        }

    .input > input:focus, .input > .halve > input:focus, .input > .halve > button:hover {
        outline: none;
        box-shadow: var(--border) 0 0 5px, var(--border) 0 0 5px inset;
        background: var(--lightbg);
    }

option:not(:checked) {
    color: #ccc;
    background-color: black;
}

option:checked {
    color: white;
    background-color: var(--bg);
}

div.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0 0 0 / 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

div.popup > div {
    max-width: 80vw;
    max-height: 90vh;
    overflow: auto;
    border-radius: 2vh;
    padding: 2vh;
    background: var(--maingradfallback);
    border: var(--border) solid 2px;
    box-shadow: black 0 0 25px;
}

div.popup > div > div.inside {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1vh;
}

#sendmoneymsg, #recmoneymsg {
    resize: none;
    margin-bottom: 0.5vw;
    min-height: 10vh;
    height: 10vh;
}

div.popup > div > div.inside > h1 {
    margin: 0;
    flex: 1;
    margin-right: 2vw;
    font-family: 'Funnel Display';
    font-size: 4vh;
}

    div.popup > div > div.inside > h2 {
        margin: 0;
        font-size: 3vh;
        font-family: 'Gabarito';
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        cursor: pointer;
        line-height: 1;
    }

.fullwidth { width: 100%; display: block; }
.disabled { opacity: 0.5; pointer-events: none; }

.promobannerad {
    height: 10vh;
    padding: 1vh;
    border-radius: 2vh;
    display: grid;
    grid-template-columns: 10vh auto 10vh;
    grid-gap: 2vh;
    background-color: #2965FC;
    box-shadow: rgba(0,0,0,0.5) 1px 1px 5px;
    transition: 0.5s ease-out;
}

    .promobannerad#binancead {
        background-color: #151A1D;
    }

.promobannerad > img {
    width: 10vh;
    height: 10vh;
    border-radius: 1vh;
    filter: drop-shadow(rgba(0,0,0,0.5) 0 0 0.5vh);
    align-self: center;
}

.promobannerad > div > h1 {
    font-size: 4vh;
    line-height: 1;
    font-family: 'Gabarito';
    margin: 0;
}

.promobannerad > div > p {
    font-size: 2vh;
    margin: 0;
    margin-top: 1vh;
    line-height: 1.25;
    font-family: 'Ubuntu';
    font-weight: 500;
}

    .promobannerad > button {
        background-color: yellow;
        color: black;
        border: none;
        box-shadow: rgba(0,0,0,0.5) 0 0 0.5vh;
        border-radius: 1vh;
        transition: 0.5s ease-out;
        padding: 1vh;
    }

    .promobannerad:hover {
        box-shadow: #2965FC 0 0 10px;
        transform: scale(1.01);
    }

    .promobannerad:hover > button {
        background-color: #dcdc00;
        box-shadow: yellow 0 0 1vh;
    }

    .pcmarginfix {
        margin: 0 5vw;
    }


@media(max-width:800px){
    p, li, input {
        font-size: 4vw;
    }
    h0 {
        font-size: 6vw;
    }
    h2 > .resm {
        font-size: 4vw;
        margin: 0 0 0 2vw;
    }
    textarea {
        resize: none;
        min-height: 50vh;
        max-height: 50vh;
        height: 50vh;
        font-size: 4vw;
        border-radius: 4vw;
        padding: 2vw;
    }
    button {
        font-size: 4vw;
        border-radius: 4vw;
        padding: 2vw 4vw;
    }
    .link.nav {
        font-size: 5vw;
    }
    .grid.unirow {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        row-gap: 2vw;
    }
    #userlogin {
        grid-column: 1 / -1;
    }

    header {
        flex-direction: column;
        padding: 3vw;
        top: -15vw;
    }

    #headerlogo {
        margin-right: 2vw;
        height: 12vw;
        width: 12vw;
    }

        #headerlogo:hover {
            filter: none;
            transform: none;
        }

    #headernav {
        flex: initial;
        margin-top: 3vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        row-gap: 2vw;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    #title {
        font-size: 8vw;
    }

    #footernav {
        flex: initial;
        margin-top: 3vw;
    }

    #footnote {
        font-size: 4vw;
    }

    footer {
        flex-direction: column;
        padding: 3vw;
    }

    main {
        padding: 4vw;
        min-height: calc(100vh - 52vw);
    }

        .link.hnav {
            margin-right: 0;
            font-size: 6vw;
        }

        .link.fnav {
            margin-left: 3vw;
            font-size: 4vw;
        }

    div.landing {
        padding: 4vw;
        border-radius: 8vw;
    }

    button {
        font-size: 5vw;
        margin: 1vw 0.5vw 0 0.5vw;
    }

    .input {
        flex-direction: column;
        padding: 0 2vw;
        margin-bottom: 2vw;
    }

        .input > label {
            width: 100%;
            font-size: 4vw;
            margin-bottom: 1vw;
            white-space: nowrap;
            text-align: left;
        }

        .input > input, .input > .halve > input, .input > select, .input > .halve > select {
            width: calc(100% - 4vw);
            font-size: 5vw;
            border-radius: 4vw;
            padding: 2vw;
        }

        .input > select {
            width: calc(100% + 2vw) !important;
        }

        .input > .halve {
            display: flex;
            align-items: center;
            width: 100%;
        }

            .input > .halve > input, .input > .halve > select {
                width: calc(100% - 12vw);
                margin-right: 2vw;
            }

            .input > .halve > button {
                font-size: 5vw;
                border-radius: 4vw;
                padding: 2vw;
                width: 10vw;
                margin: 0;
            }

        div.popup > div {
            max-width: 80vw;
        }

    div.popup > div {
        max-width: 80vw;
        border-radius: 4vw;
        padding: 4vw;
    }

        div.popup > div > div.inside {
            margin-bottom: 2vw;
        }

                div.popup > div > div.inside > h1 {
                    margin-right: 3vw;
                    font-size: 7vw;
                }

            div.popup > div > div.inside > h2 {
                font-size: 6vw;
            }

    .promobannerad {
        padding: 2vw;
        border-radius: 4vw;
        grid-template-columns: 20vw auto;
        grid-gap: 2vw 4vw;
        height: initial;
    }
        .promobannerad > img {
            width: 20vw;
            height: 20vw;
            border-radius: 2vw;
            filter: drop-shadow(rgba(0,0,0,0.5) 0 0 1vw);
        }

        .promobannerad > div > h1 {
            font-size: 7vw;
        }

        .promobannerad > div > p {
            font-size: 4vw;
            margin-top: 2vw;
        }

        .promobannerad > button {
            grid-column: 1 / -1;
            box-shadow: rgba(0,0,0,0.5) 0 0 1vw;
            border-radius: 2vw;
        }

        .promobannerad:hover {
            transform: scale(1);
        }

    .pcmarginfix {
        margin: 0;
    }
}