.onlymobile {
    display: none;
}

#mobilenav {
    display: none;
}

main {
    position: relative;
    padding: 0;
    min-height: 86vh;
    height: 86vh;
    display: grid;
    grid-template-columns: 15vh 1fr;
}

#compactWallet {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 10vh);
    display: flex;
    background-color: var(--lightbg);
    padding: 1vh 3vh;
    border-radius: 0 0 10vh 10vh;
    box-shadow: black 0 0 10px;
    margin: 0 2vh;
    z-index: 100;
}

#compactWallet > div {
    display: flex;
    flex: 1;
}

#compactWallet > div > p {
    margin: 0;
    font-weight: bold;
    line-height: 1;
    text-align: right;
    flex: 1;
}

    #compactWallet > div > p.cccicon {
        font-weight: lighter;
        font-family: 'currencycompnus',Ubuntu !important;
        margin-right: 1vh;
        flex: 0;
    }

    #compactWallet > p {
        margin: -0.5vh 2vh;
        height: 3vh;
        background: #ffffff;
        background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
        width: 2px;
    }

    #compactWallet > img {
        width: 2vh;
        height: 2vh;
        cursor: pointer;
        margin: 0 -1vh 0 0;
        transition: 0.3s ease-out;
    }

    #compactWallet > img:hover {
        filter: drop-shadow(black 0 0 3px) drop-shadow(white 0 0 3px);
    }

#pcnav {
    margin: 7.25vh 0 3.75vh 0;
    background: var(--maingradfallback);
    background: linear-gradient(270deg,var(--bg) 0%, var(--bg) 49%, var(--maingradfallback) 51%, var(--maingradfallback) 100%);
    box-shadow: black -3px 0 10px;
    border-radius: 0 3vh 3vh 0;
}

    #pcnav > a {
        width: 13vh;
        height: 13vh;
        padding: 1vh;
        background-color: var(--maingradfallback);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        transition: 0.2s ease;
        border-right: var(--border) solid 2px;
    }

    #pcnav > a > img {
        width: 7vh;
        height: 7vh;
        margin-bottom: 2vh;
        transition: 0.2s ease-out;
    }

        #pcnav > a > p {
            margin: 0;
            font-weight: lighter;
            font-size: 1.8vh;
            transition: 0.2s ease-out;
        }

        #pcnav > a.here {
            border-right: none;
            background-color: var(--bg);
            box-shadow: var(--bg) 0 0 inset,var(--bg) 3px 0 5px -3px, var(--bg) 5px 0 5px -3px, var(--bg) 7px 0 5px -3px;
        }

        #pcnav > a:hover > img {
            transform: scale(1.1);
            filter: drop-shadow(black 0 0 5px) drop-shadow(yellow 0 0 3px);
        }

        #pcnav > a:hover {
            box-shadow: yellow -2px 0 inset;
        }

        #pcnav > a.here:hover {
            box-shadow: var(--border) 2px 0 inset,var(--bg) 3px 0 5px -3px, var(--bg) 5px 0 5px -3px, var(--bg) 7px 0 5px -3px;
        }

        #pcnav > a:hover > p {
            transform: scale(0.95);
        }

        #pcnav > a:active > img {
            transform: scale(0.9);
            filter: drop-shadow(white 0 0 5px);
        }

        #pcnav > a:active > p {
            transform: scale(1);
        }

        #pcnav > a.here > img {
            filter: opacity(0.5);
        }

        #pcnav > a.here:hover > img, #pcnav > a.here:active > img {
            transform: scale(1.05);
            filter: opacity(0.5);
        }

        #pcnav > a.here:hover > p, #pcnav > a.here:active > p {
            transform: scale(1);
        }

#content {
    height: 78vh;
    padding: 6vh 2vh 2vh 2vh;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10vh,1fr));
    grid-auto-rows: 10vh;
    grid-gap: 1vh;
}

#content > div {
    overflow: hidden;
}

@media(max-width:800px) {
    .nomobile {
        display: none;
    }

    .onlymobile {
        display: block;
    }

    #mobilenav {
        display: flex;
        position: sticky;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 50;
        box-shadow: black 0 -5px 10px -5px;
        box-sizing: border-box;
        margin-top: 0;
        background: var(--maingradfallback);
        background: linear-gradient(180deg,var(--bg) 0%, var(--bg) 49%, var(--maingradfallback) 51%, var(--maingradfallback) 100%);
    }

        #mobilenav > .mobilenavbtn {
            border-top: var(--border) solid 2px;
            padding: 2vw 0;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            transition: 0.2s ease;
            background-color: var(--maingradfallback);
        }

            #mobilenav > .mobilenavbtn > img {
                width: 8vw;
                height: 8vw;
                object-fit: contain;
                padding: 1vw;
            }

            #mobilenav > .mobilenavbtn > p {
                margin: 1vw 0 0 0;
                font-size: 2.8vw;
                line-height: 1.2;
                font-weight: 200;
                color: white;
            }

            #mobilenav > .mobilenavbtn:active > img {
                transform: scale(0.9);
            }

            #mobilenav > .mobilenavbtn.here > img {
                filter: drop-shadow(0 0 5px yellow) opacity(0.5);
            }

            #mobilenav > .mobilenavbtn.here {
                border-color: var(--bg);
                background-color: var(--bg);
                box-shadow: var(--bg) 0 -5px 10px -5px,var(--bg) 0 -5px 10px -5px;
            }

    #pcnav {
        display: none;
    }

    main {
        position: static;
        padding: 4vw;
        min-height: calc(100vh - 52vw);
        height: initial;
        display: block;
    }

    #compactWallet {
        position: sticky;
        top: 13vw;
        width: calc(100% - 8vw);
        padding: 2vw 4vw;
        border-radius: 0 0 100vh 100vh;
        margin: -4vw 0 0 0;
    }

            #compactWallet > div > p {
                font-size: 3.5vw;
            }

                #compactWallet > div > p.cccicon {
                    margin-right: 2vw;
                }

        #compactWallet > p {
            margin: -0.5vw 3vw;
            height: 4.5vw;
        }

        #compactWallet > img {
            width: 3.5vw;
            height: 3.5vw;
            margin: 0;
        }

    #content {
        height: max-content;
        padding: 4vw 0 0 0;
        grid-template-columns: repeat(4, 21.5vw);
        grid-auto-rows: 21.5vw;
        grid-gap: 2vw;
    }
}