main {
    padding-left: 0;
    padding-right: 0;
    display: grid;
    grid-template-columns: 25vw 48vw 25vw;
    grid-gap: 1vw;
    transition: 0.2s ease-out;
    overflow-x: hidden;
}

.sidebar {
    background-color: var(--lightbg);
    box-shadow: black 0 0 5px;
    display: grid;
    position: relative;
    width: 25vw;
}

    .sidebar#leftsd {
        border-radius: 0 2vh 2vh 0;
        grid-template-columns: calc(25vw - 4vh) 4vh;
        right: 0;
        transition: 0.2s ease-out;
    }

    .sidebar#rightsd {
        border-radius: 2vh 0 0 2vh;
        grid-template-columns: 4vh calc(25vw - 4vh);
    }

    .sidebar > .content {
        padding: 2vh;
        transition: 0.2s ease-out;
        height: 78vh;
        overflow-y: auto;
    }

    .sidebar > .collapse {
        display: flex;
        align-items: center;
        cursor: pointer;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }

.sidebar > .collapse > img {
    width: 3vh;
    height: 6vh;
    margin: 0.5vh;
    transition: 0.2s ease-in;
}

    .sidebar > .collapse:hover > img {
        filter: drop-shadow(white 0 0 3px);
    }

.sidebar > .collapse > img.collapsed {
    transform: scaleX(-1);
}

.sideentry {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
}

.sideentry > img {
    width: 4vh;
    height: 4vh;
    padding-right: 2vh;
}

.sideentry > h2 {
    text-align: right;
    font-size: 3vh;
    line-height: 1;
    margin: 0;
    flex: 1;
}

.myhr {
    margin: 3vh 1vh;
    height: 2px;
    background: #ffffff;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    border-radius: 100%;
}

.sidemini {
    margin: -1vh 0 0 0;
    font-size: 1.5vh;
    font-weight: bold;
    line-height: 1.5;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#miningicon {
    position: relative;
    width: 35vh;
    height: 35vh;
    filter: drop-shadow(#ffff0050 0 0 5px);
    animation: pulseShadow 20s ease-in-out infinite;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@keyframes pulseShadow {
    0% {
        filter: drop-shadow(#ffff0050 0 0 5px);
        transform: scale(1);
    }
    25% {
        filter: drop-shadow(#ffea0075 0 0 7px);
        transform: scale(0.93);
    }
    50% {
        filter: drop-shadow(#ffff00aa 0 0 10px);
        transform: scale(0.97);
    }
    75% {
        filter: drop-shadow(#ffae0075 0 0 8px);
        transform: scale(0.95);
    }
    100% {
        filter: drop-shadow(#ffff0050 0 0 5px);
        transform: scale(1);
    }
}

.miningicon {
    width: 35vh;
    height: 35vh;
    position: absolute;
    left: 0;
    top: 0;
    filter: opacity(0.8);
}

#miningicona1 {
    filter: opacity(0.6);
    animation: pulseIcon1 45s linear infinite;
}

@keyframes pulseIcon1 {
    0% {
        transform: scale(1) rotate(0deg);
    }
    25% {
        transform: scale(1.07) rotate(90deg);
    }
    50% {
        transform: scale(1.11) rotate(170deg);
    }
    75% {
        transform: scale(1.04) rotate(280deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}

#miningicona2 {
    transform: rotate(175deg);
    animation: pulseIcon2 53s linear infinite;
}

@keyframes pulseIcon2 {
    0% {
        transform: scale(1, 1) rotate(175deg);
    }

    25% {
        transform: scale(0.98, 1.03) rotate(265deg);
    }

    50% {
        transform: scale(0.94, 1.02) rotate(350deg);
    }

    75% {
        transform: scale(0.97, 1.07) rotate(460deg);
    }

    100% {
        transform: scale(1, 1) rotate(535deg);
    }
}

#miningicona3 {
    transform: scale(0.95) rotate(-65deg);
    animation: pulseIcon3 61s linear infinite;
}

@keyframes pulseIcon3 {
    0% {
        transform: scale(0.95) rotate(-65deg);
    }

    25% {
        transform: scale(1.12) rotate(-165deg);
    }

    50% {
        transform: scale(1.05) rotate(-250deg);
    }

    75% {
        transform: scale(1.06) rotate(-330deg);
    }

    100% {
        transform: scale(0.95) rotate(-425deg);
    }
}

#miningiconb {
    width: 15vh;
    height: 15vh;
    position: absolute;
    left: 10vh;
    top: 10vh;
    animation: pulseIconB 8s linear infinite;
    filter: drop-shadow(black 0 0 10px) drop-shadow(black 0 0 5px);
}

@keyframes pulseIconB {
    0% {
        transform: rotate(0deg);
    }
    54% {
        transform: rotate(2deg);
    }
    60% {
        transform: rotate(-25deg) scale(1);
    }
    61% {
        transform: rotate(50deg) scale(1.1);
    }
    65% {
        transform: rotate(25deg) scale(1.01);
    }
    66% {
        transform: rotate(16deg) scale(1);
    }
    67% {
        transform: rotate(12deg) scale(1);
    }
    68% {
        transform: rotate(8deg) scale(1);
    }
    69% {
        transform: rotate(5deg) scale(1);
    }
    70% {
        transform: rotate(3deg);
    }
    85% {
        transform: rotate(-2deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

#accumulateddisplay {
    font-weight: 100;
    font-size: 5vh;
    margin: 0;
    filter: drop-shadow(black 0 0 5px);
}

.onlymobile {
    display: none;
}

@media(max-width:800px) {
    .nomobile {
        display: none;
    }

    .onlymobile {
        display: block;
    }
}