#status {
    width: 100%;
    text-align: center;
    font-weight: 700;
}

.minilabel {
    margin-bottom: 0.3em;
}

.limited {
    max-width: 25vw;
    font-size: 1.5vh;
    text-align: left;
    margin-top: -0.5vh;
}

@media(orientation:portrait) {
    .minilabel {
        margin-bottom: 0.1em;
    }
    .limited {
        max-width: 100%;
        font-size: 3.5vw;
        padding: 0 2vw;
        margin-top: -1vw;
    }
}