#status {
    width: 100%;
    text-align: center;
    font-weight: 700;
}

.minilabel {
    margin-bottom: 0.3em;
}

.limited {
    max-width: 25vw;
    font-size: 1.5vh;
    text-align: left;
    margin-top: -0.5vh;
}

#blockedusers {
    max-width: 50vw;
    margin: 0 auto;
    text-align: center;
}

#blockedusers > p {
    display: inline-block;
    cursor: pointer;
    border-radius: 100vw;
    border: solid var(--bg) 2px;
    background: var(--lightbg);
    font-size: 2.5vh;
    margin: 0.5vh;
    padding: 0.5vh 1vh;
    transition: 0.4s ease-out;
}

#blockedusers > p:hover {
    border-color: green;
    box-shadow: inset green 0 0 5px;
}

@media(orientation:portrait) {
    .minilabel {
        margin-bottom: 0.1em;
    }
    .limited {
        max-width: 100%;
        font-size: 3.5vw;
        padding: 0 2vw;
        margin-top: -1vw;
    }
    #blockedusers {
        max-width: unset;
        margin: 0;
    }
        #blockedusers > p {
            font-size: 5vw;
            margin: 1vw;
            padding: 1vw 2vw;
        }
            #blockedusers > p:hover {
                border-color: var(--bg);
                box-shadow: none;
            }
}