main {
    padding-right: 10vw;
    padding-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#shadowcontainer {
    border-radius: 2vh;
    box-shadow: black 3px 3px 5px -3px;
}

#mainheading {
    background: var(--lightbg);
    border-radius: 2vh 2vh 0 0;
    padding-left: 2vh;
}

#mainheading > h1 {
    margin: 0;
    font-size: 3vh;
    padding-right: 2vh;
}

.headingselector {
    border: none;
    flex: 1;
    background-color: #252b1e;
    border-radius: 2vh 2vh 0 0;
    margin-top: 1vh;
}

    .headingselector:hover {
        background-color: var(--shadow);
        transform: none;
    }

    .headingselector.selected {
        background-color: var(--accent);
        cursor: default;
    }

        .headingselector.selected:hover {
            background-color: var(--accent);
        }

#headinginfo {
    border: none;
    background-color: var(--accent);
    margin: 0 1vh;
    width: 3vh;
    height: 3vh;
    padding: 0;
    border-radius: 100vh;
    outline: solid 0.25vh var(--lightbg);
}

#headinginfo:hover {
    outline-color: white;
}

.main {
    display: none;
    background-color: var(--lightbg);
    padding: 0 1vh 1vh 1vh;
    border-radius: 0 0 2vh 2vh;
}

.main.selected {
    display: block;
}

.separation {
    padding-left: 2vw;
}

.msgheading {
    display: flex;
    border-radius: 1vh 1vh 0 0;
    padding: 1vh;
    background-color: var(--accent);
}

.msgheading > .input { margin: 0 }
.msgheading > .input > label { text-align: right; padding-right: 0.5vw; }
.msgheading > .input > input { width: 100% !important }

.msgcompose {
    padding: 1vh;
    background-color: var(--accent);
}

.msgfinal {
    display: flex;
    padding: 1vh;
    border-radius: 0 0 1vh 1vh;
    background-color: var(--accent);
    justify-content: space-around;
}

.msgfinal > button { width: 25vw }

#remainingchar, #normaltitleremchar, .disclaimer, #charcount, #advtitleremchar {
    padding-top: 0.5vh;
    margin: 0;
    font-size: 2vh;
    line-height: 1;
    text-align: center;
}

#remainingchar, #charcount {
    justify-self: start;
}

#normaltitleremchar, #advtitleremchar {
    justify-self: end;
}

.bottomline {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 2vh;
}

.disclaimer > span {
    font-weight: bold;
    color: yellow;
    cursor: pointer;
    transition: 0.2s;
}

.disclaimer > span:hover {
    color: orange;
}

textarea#advmsg {
    height: calc(50vh - 8px);
    resize: none;
    margin-bottom: 4px;
}

#advancedinside {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1vh;
}

#toolbox {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 52vh;
}

    #toolbox::-webkit-scrollbar, table::-webkit-scrollbar {
        width: 13px;
        height: 0;
    }

table::-webkit-scrollbar {
    height: 13px;
}

    #toolbox::-webkit-scrollbar-track, table::-webkit-scrollbar-track {
        background: none;
    }

    #toolbox::-webkit-scrollbar-thumb, table::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 100px;
        border: solid 5px var(--accent);
        cursor: default;
    }

    table::-webkit-scrollbar-thumb {
        border: solid 5px var(--maingradfallback);
    }

        #toolbox::-webkit-scrollbar-thumb:hover {
            background: yellow;
        }

table, th, td {
    text-align: center;
}

table {
    max-height: 50vh;
    overflow-y: auto;
    width: 100%;
    overflow-x: hidden;
    display: block;
}

table.he {max-height: 65vh}

#th1, #th2, #th6 {width:15vw}
#th3 {width: 30vw}
#th4, #th7 {width: 20vw}
#th5 {width: 5vw}

th {
    font-family: 'Funnel Display';
    font-size: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: var(--maingradfallback);
}

td {
    font-size: 2vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    transition: 0.2s ease;
    font-family: 'Ubuntu';
}

    td.first {
        font-weight: bold;
        font-family: 'Gabarito';
    }

tr {
    transition: 0.2s ease;
}

    tr:hover {
        background-color: var(--lightbg);
    }

td:hover {
    background-color: var(--bg);
}

a.linkstv {
    color: yellow !important;
    transition: 0.2s;
    text-decoration: inherit;
}

a.linkstv:hover {
    color: orange !important;
}

td > img, .msgmsg > p > img {
    max-height: 20vh;
}

.img1, img.i1 {
    object-fit: cover;
    width: 20vh;
    height: 20vh;
}

.img2, img.i2 {
    object-fit: cover;
    width: 10vh;
    height: 10vh;
}

.img3, img.i3 {
    object-fit: cover;
    width: 20vh;
    height: 20vh;
    border-radius: 2vh;
}

.img4, img.i4 {
    object-fit: cover;
    width: 10vh;
    height: 10vh;
    border-radius: 1vh;
}

.img5, img.i5 {
    object-fit: cover;
    width: 20vh;
    height: 20vh;
    border-radius: 10vh;
}

.img6, img.i6 {
    object-fit: cover;
    width: 10vh;
    height: 10vh;
    border-radius: 5vh;
}

.img7, .img8, img.i7, img.i8 {
    object-fit: cover;
    width: 10vh;
    height: 10vh;
    border-radius: 0.5vh;
    filter: grayscale();
    transition: 0.3s ease-out;
    position: relative;
}

.img7:hover, img.i7:hover {
    filter: grayscale(0);
    transform: scale(2);
    z-index:9999;
}

.img8:hover, img.i8:hover {
    filter: grayscale(0);
    transform: scale(1.5);
    z-index: 9999;
}

.toolbutton {
    width: 100%;
    display: block;
    margin-bottom: 1vh;
}

#actualtools {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1vh 0.5vw;
}

.toolsbutton {
    padding: 0.25vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolsbutton > img {
    width: 1.5vw;
    height: 1.5vw;
}

#ichoser {
    display: grid;
    grid-template-columns: repeat(5, 10vh);
    grid-gap: 2vh;
    grid-template-rows: 10vh 10vh;
}

.choserthing {
    display: flex;
    align-items: center;
    justify-content: center;
}

.choser {
    background: rgb(255, 255, 255, 0.5);
    box-shadow: rgb(0, 0, 0, 0.5) inset 3px 3px 3px;
    cursor: pointer;
    transition: 0.4s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choser:hover {
    transform: scale(1.05);
    background: rgb(255,255,255,0.7);
}

    .choser.chosen {
        background: rgb(255, 255, 255, 0.8);
    }

        .choser.chosen:hover {
            transform: scale(1.01);
            background: rgb(255,255,255,0.8);
        }

#choser0 {
    width: 10vh;
    height: 7vh;
}
#choser1 {
    width: 10vh;
    height: 10vh;
}
#choser2 {
    width: 5vh;
    height: 5vh;
}
#choser3 {
    width: 10vh;
    height: 10vh;
    border-radius: 1vh;
}
#choser4 {
    width: 5vh;
    height: 5vh;
    border-radius: 0.5vh;
}
#choser5 {
    width: 10vh;
    height: 10vh;
    border-radius: 5vh;
}
#choser6 {
    width: 5vh;
    height: 5vh;
    border-radius: 2.5vh;
}
#choser7 {
    width: 10vh;
    height: 10vh;
    border-radius: 0.5vh;
    font-size: 2vh;
}
#choser8 {
    width: 5vh;
    height: 5vh;
    border-radius: 0.25vh;
    font-size: 1vh;
}

.choser > p {
    color: black;
    margin: 0;
    font-size: inherit;
}

.msgmsgmain {
    padding: 2vh;
    border-radius: 1vh;
    background: var(--accent);
    box-shadow: var(--shadow) 0 5px 5px -3px;
    width: 60vw;
    overflow: hidden;
}

.msgmsg > p {
    margin: 0;
}

#choserm {
    grid-row: 1/3;
}

.span2 {
    grid-column: span 2
}
.span3 {
    grid-column: span 3
}
.span4 {
    grid-column: span 4
}
.span6 {
    grid-column: span 6
}

@media(orientation:portrait) {
    main {
        padding-right: 4vw;
        padding-left: 4vw;
    }

    #shadowcontainer {
        border-radius: 4vw;
    }

    #mainheading {
        border-radius: 4vw 4vw 0 0;
        padding: 0 4vw;
        display: grid;
        grid-template-columns: 1fr 3fr 3fr 1fr;
    }

        #mainheading > h1 {
            margin: 0;
            font-size: 4vw;
            padding-right: 2vw;
            padding-top: 2vw;
            grid-column: 1/4;
        }

    .headingselector {
        grid-column: span 2;
        border-radius: 4vw 4vw 0 0;
        margin-top: 2vw;
    }

    #headinginfo {
        grid-column: 4/5;
        grid-row: 1/2;
        justify-self: end;
        margin: 2vw 0 0 0;
        width: 7vw;
        height: 7vw;
        border-radius: 100vw;
    }

    .main {
        padding: 0 2vw 2vw 2vw;
        border-radius: 0 0 4vw 4vw;
    }

    .separation {
        display: none;
    }

    #normalreciever, #advreciever {
        margin-bottom: 1vw;
    }

    .msgheading {
        flex-direction: column;
        border-radius: 2vw 2vw 0 0;
        padding: 2vw;
    }

            .msgheading > .input > label {
                text-align: left;
                padding-right: 0;
            }

    .msgcompose {
        padding: 2vw;
    }

    .msgfinal {
        padding: 2vw;
        border-radius: 0 0 2vw 2vw;
        justify-content: space-between;
    }

        .msgfinal > button {
            width: 40vw
        }

   

    #remainingchar, #normaltitleremchar, .disclaimer, #charcount, #advtitleremchar {
        padding-top: 2vw;
        font-size: 4vw;
    }

    #remainingchar, #charcount, #normaltitleremchar, #advtitleremchar {
        justify-self: center;
    }

    .bottomline {
        display: block;
    }

    textarea#advmsg {
        height: 50vh;
    }

    #advancedinside {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2vw;
    }

    #toolbox {
        height: fit-content; overflow: hidden;
    }

    table {
        overflow-x: auto;
    }

        table.he {
            max-height: 130vw;
        }

    th {
        font-size: 6vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }

    td {
        font-size: 4vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }

    td > img, .msgmsg > p > img {
        max-height: 40vw;
    }

    .img1, img.i1 {
        width: 40vw;
        height: 40vw;
    }

    .img2, img.i2 {
        width: 20vw;
        height: 20vw;
    }

    .img3, img.i3 {
        width: 40vw;
        height: 40vw;
        border-radius: 4vw;
    }

    .img4, img.i4 {
        width: 20vw;
        height: 20vw;
        border-radius: 2vw;
    }

    .img5, img.i5 {
        width: 40vw;
        height: 40vw;
        border-radius: 20vw;
    }

    .img6, img.i6 {
        width: 20vw;
        height: 20vw;
        border-radius: 10vw;
    }

    .img7, .img8, img.i7, img.i8 {
        width: 20vw;
        height: 20vw;
        border-radius: 1vw;
    }

    .toolbutton {
        width: calc(100% - 6px);
        display: block;
        margin-bottom: 2vw;
    }

    #actualtools {
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 1vw;
    }

    .toolsbutton {
        padding: 1vw;
    }

        .toolsbutton > img {
            width: 6vw;
            height: 6vw;
        }

    #ichoser {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw;
    }

    #choserm {
        grid-row: span 1;
        grid-column: span 2;
    }

    #choser0 {
        width: 16vw;
        height: 9vw;
    }

    #choser1 {
        width: 16vw;
        height: 16vw;
    }

    #choser2 {
        width: 8vw;
        height: 8vw;
    }

    #choser3 {
        width: 16vw;
        height: 16vw;
        border-radius: 2vw;
    }

    #choser4 {
        width: 8vw;
        height: 8vw;
        border-radius: 1vw;
    }

    #choser5 {
        width: 16vw;
        height: 16vw;
        border-radius: 8vw;
    }

    #choser6 {
        width: 8vw;
        height: 8vw;
        border-radius: 4vw;
    }

    #choser7 {
        width: 16vw;
        height: 16vw;
        border-radius: 1vw;
        font-size: 3vw;
    }

    #choser8 {
        width: 8vw;
        height: 8vw;
        border-radius: 0.5vw;
        font-size: 1.6vw;
    }

    .msgmsgmain {
        padding: 4vw;
        border-radius: 2vw;
        width: 70vw;
    }
}