div.mainscroll {
    height: 82vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: calc(1vh - 3px);
}

div.mainscroll::-webkit-scrollbar {
    width: 3px;
}

    div.mainscroll::-webkit-scrollbar-track {
        background: none;
    }

    div.mainscroll::-webkit-scrollbar-thumb {
        background: var(--lightbg);
        border-radius: 100px;
        box-shadow: inset var(--bg) 0 2vh, inset var(--bg) 0 -2vh;
    }

        div.mainscroll::-webkit-scrollbar-thumb:hover {
            background: var(--lightbgaccent);
        }

#welcomer {
    font-size: 4vh;
    line-height: 1;
    margin-bottom: 2vh;
    margin-top: 0;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 13vh 1fr;
    grid-gap: 1vh;
    padding: 0 1vh 0 2vh;
}

#main {
    grid-area: 1/1/1/1;
    padding-top: 2vh;
    padding-right: 2vh;
    padding-bottom: 2vh;
}

#side {
    min-width: 40vh;
    grid-area: 1/2/2/2;
}

#messages {
    grid-area: 2/1/2/1;
    height: 68vh;
}

.sideshmuck {
    padding: 2vh;
    background-color: var(--lightbg);
    border-radius: 2vh;
    position: relative;
    overflow: hidden;
    transition: height 0.4s ease-out;
    box-shadow: black 0 10px 15px -15px;
}

.title {
    font-family: 'Funnel Display';
    margin: 0;
    padding-bottom: 2vh;
    font-size: 3.5vh;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.currencylogo {
    width: 5vh;
    height: 5vh;
}

.currencydisplay {
    display: flex;
    margin: 0;
    width: 100%;
    font-size: 3.5vh;
    line-height: 5vh;
    align-items: flex-start;
    justify-content: flex-end;
}

.walletdecimal {
    color: #999;
    font-weight: 300;
    display: inline-block;
    font-size: 2vh;
    line-height: 2.25vh;
    padding-top: 1vh;
    padding-left: 0.1vh;
}

.collapse {
    position: absolute;
    left: 2vh;
    top: 2vh;
    color: #ccc;
    cursor: pointer;
    margin: 0;
    font-size: 2.5vh;
    line-height: 1;
    transition: 0.4s;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.collapse:hover {
    color: white;
}

    .collapse#walletrefresh {
        left: initial;
        right: 2vh;
    }

.collapse.collapsed {
    transform: rotate(180deg);
}

.mainactions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2vh;
    margin-bottom: 2vh;
}

.mainactions > button {
    box-shadow: black 0 5px 10px -5px;
    bottom: 0;
    position: relative;
}

.mainactions > button:hover {
    box-shadow: white 0 0 10px -5px;
    bottom: 0.2vh;
}

#adminactions {
    display: none;
}

#messagerefresh {
    color: #ccc;
    cursor: pointer;
    margin: 0 2vh 0 0;
    font-size: 3.5vh;
    line-height: 1;
    transition: 0.4s;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-weight: 900;
}

#messagenew {
    cursor: pointer;
    margin: 0 2vh 0 0;
    width: 3.5vh; height: 3.5vh;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.message {
    position: relative;
    margin-bottom: 2vh;
    padding: 2vh;
    border-radius: 2vh;
    background: var(--accent);
    box-shadow: var(--shadow) 0 5px 5px -3px;
}

.msgtrash {
    position: absolute;
    right: 2vh;
    top: 2vh;
    height: 3vh;
    width: 3vh;
    cursor: pointer;
    transition: 0.3s ease-out;
    filter: invert(0.25);
}

    .msgtrash:hover {
        transform: scale(1.2);
        filter: invert(0);
    }

.msgtitle {
    margin: 0;
    margin-bottom: 1vh;
    font-size: 3vh;
    line-height: 1;
    max-width: calc(100% - 4vh);
}

.msgfrom {
    margin: 0;
    margin-bottom: 1vh;
    font-size: 2vh;
    line-height: 1;
    font-weight: 300;
    color: #ccc;
    display: flex;
    align-items: center;
}

.msgmsg > p {
    margin: 0;
}

.msgverified {
    display: inline-block;
    height: 1.8vh;
    width: 1.8vh;
    padding-left: 0.5vh;
    margin-bottom: 0.2vh;
}

.msgaction {
    display: inline-block;
    cursor: pointer;
    filter: invert(0.25);
    transition: 0.3s ease-out;
    height: 2vh;
    width: 2vh;
    padding-left: 1vh;
}

.msgaction:hover {
    filter:invert(0);
}

a.linkstv {
    color: yellow !important;
    transition: 0.2s;
    text-decoration: inherit;
}

    a.linkstv:hover {
        color: orange !important;
    }

.msgmsg > p > img {
    max-height: 20vh;
}

    .msgmsg > p > img.i1 {
        object-fit: cover;
        width: 20vh;
        height: 20vh;
    }

    .msgmsg > p > img.i2 {
        object-fit: cover;
        width: 10vh;
        height: 10vh;
    }

    .msgmsg > p > img.i3 {
        object-fit: cover;
        width: 20vh;
        height: 20vh;
        border-radius: 2vh;
    }

    .msgmsg > p > img.i4 {
        object-fit: cover;
        width: 10vh;
        height: 10vh;
        border-radius: 1vh;
    }

    .msgmsg > p > img.i5 {
        object-fit: cover;
        width: 20vh;
        height: 20vh;
        border-radius: 10vh;
    }

    .msgmsg > p > img.i6 {
        object-fit: cover;
        width: 10vh;
        height: 10vh;
        border-radius: 5vh;
    }

    .msgmsg > p > img.i7, .msgmsg > p > img.i8 {
        object-fit: cover;
        width: 10vh;
        height: 10vh;
        border-radius: 0.5vh;
        filter: grayscale();
        transition: 0.3s ease-out;
        position: relative;
    }

        .msgmsg > p > img.i7:hover {
            filter: grayscale(0);
            transform: scale(2);
            z-index: 9999;
        }

        .msgmsg > p > img.i8:hover {
            filter: grayscale(0);
            transform: scale(1.5);
            z-index: 9999;
        }

#walletactions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vh;
    margin: 1vh 0;
}

@media(orientation:portrait) {
    div.mainscroll {
        height: initial;
        padding: 0;
    }

    #welcomer {
        font-size: 8vw;
        margin-bottom: 4vw;
    }

    main {
        display: block;
        padding: 4vw;
    }

    #main {
        padding: 0;
    }

    #side {
        min-width: 0;
        padding-bottom: 8vw;
    }

    #messages {
        height: initial;
    }

    .sideshmuck {
        padding: 4vw;
        border-radius: 4vw;
    }

    .title {
        padding-bottom: 4vw;
        font-size: 7vw;
    }

    .currencylogo {
        width: 10vw;
        height: 10vw;
    }

    .currencydisplay {
        font-size: 7vw;
        line-height: 10vw;
    }

    .walletdecimal {
        font-size: 4vw;
        line-height: 4.5vw;
        padding-top: 2vw;
        padding-left: 0.2vw;
    }

    .collapse {
        left: 4vw;
        top: 4vw;
        font-size: 5vw;
    }

        .collapse:hover {
            color: #ccc;
        }

        .collapse:active {
            color: white;
        }

        .collapse#walletrefresh {
            right: 4vw;
        }

    .mainactions {
        grid-template-columns: 1fr 1fr;
        grid-gap: 4vw;
        margin-bottom: 4vw;
    }
        .mainactions > button:hover {
            box-shadow: black 0 5px 10px -5px;
            bottom: 0;
        }

        .mainactions > button:active {
            box-shadow: white 0 0 10px -5px;
            bottom: 0.4vw;
        }

    #messagerefresh {
        margin: 0;
        font-size: 7vw;
    }

    #messagenew {
        margin-right: 4vw;
        width: 7vw;
        height: 7vw;
    }

    .message {
        margin-bottom: 4vw;
        padding: 4vw;
        border-radius: 4vw;
        background: var(--accent);
    }

    .msgtrash {
        right: 4vw;
        top: 4vw;
        height: 6vw;
        width: 6vw;
    }

        .msgtrash:hover {
            transform: scale(1);
            filter: invert(0.25);
        }

        msgtrash:active {
            filter: invert(0);
        }

    .msgtitle {
        margin-bottom: 2vw;
        font-size: 6vw;
        max-width: 76vw;
    }

    .msgfrom {
        margin-bottom: 2vw;
        font-size: 4vw;
    }

    .msgverified {
        height: 3.6vw;
        width: 3.6vw;
        padding-left: 1vw;
        margin-bottom: 0.4vw;
    }

    .msgaction {
        height: 4vw;
        width: 4vw;
        padding-left: 2vw;
    }

        .msgaction:hover {
            filter: invert(0.25);
        }

        .msgaction:active {
            filter: invert(0);
        }

    .msgmsg > p > img {
        max-height: 40vw;
    }

        .msgmsg > p > img.i1 {
            width: 40vw;
            height: 40vw;
        }

        .msgmsg > p > img.i2 {
            width: 20vw;
            height: 20vw;
        }

        .msgmsg > p > img.i3 {
            width: 40vw;
            height: 40vw;
            border-radius: 4vw;
        }

        .msgmsg > p > img.i4 {
            width: 20vw;
            height: 20vw;
            border-radius: 2vw;
        }

        .msgmsg > p > img.i5 {
            width: 40vw;
            height: 40vw;
            border-radius: 20vw;
        }

        .msgmsg > p > img.i6 {
            width: 20vw;
            height: 20vw;
            border-radius: 10vw;
        }

        .msgmsg > p > img.i7, .msgmsg > p > img.i8 {
            width: 20vw;
            height: 20vw;
            border-radius: 1vw;
        }

    #walletactions {
        grid-template-columns: 1fr;
        grid-gap: 1vw;
        margin: 2vw 0;
    }
}