#header {
    height: 17vh;
    background: var(--maingradfallback);
    background: linear-gradient(180deg, rgba(126,70,21,1) 0%, rgba(21,45,96,1) 33%, rgba(126,70,21,1) 67%, rgba(21,45,96,1) 100%);
    background-size: 100% 300%;
    padding: 2vh;
    border-radius: 0 0 100% 100% / 0 0 30% 30%;
    box-shadow: black 0 0 20px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    animation: gradientScroll 20s ease infinite;
    z-index: 40;
}

@keyframes gradientScroll {
    0% {
        background-position: 50% 0%;
    }

    100% {
        background-position: 50% 100%;
    }
}

#ilogo {
    height: 10vh;
    width: 10vh;
    margin-right: 1vw;
    margin-bottom: 2vh;
    animation: logoPulse 30s ease-in-out infinite;
}

@keyframes logoPulse {
    0% {
        transform: scale(0.975);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(0.975);
    }
}

#logo {
    font-size: 8vh;
    line-height: 10vh;
    color: white;
    margin: 0;
    margin-bottom: 2vh;
}

main#landing {
    min-height: 65vh;
    height: 65vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4vh;
    padding: 4vh;
}

.landingitem {
    height: 26.5vh;
    padding: 2vh;
    border-radius: 2vh;
    background-color: var(--lightbg);
    display: grid;
    grid-template-columns: 28.5vh 1fr;
    grid-gap: 1.5vh;
    grid-template-rows: auto 1fr;
    transition: 0.5s ease-out;
    box-shadow: rgba(0,0,0,0.5) 0 0 1vh;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index: 5;
}

.landingitem:hover {
    transform: scale(1.02);
    box-shadow: yellow 0 0 1vh;
    z-index: 6;
}

.landingitem > img {
    height: 26.5vh;
    width: 26.5vh;
    object-fit: contain;
    grid-row: span 2;
    filter: drop-shadow(rgba(0,0,0,0.5) 0 0 5px);
    z-index: 7;
}

.landingitem > h1 {
    font-size: 4vh;
    line-height: 1;
    margin: 0;
    font-family: Gabarito;
    z-index: 7;
}

.landingitem > p {
    overflow-y: scroll;
    z-index: 7;
}

    .landingitem > p::-webkit-scrollbar, #filters::-webkit-scrollbar, #description::-webkit-scrollbar {
        width: 9px;
    }

    .landingitem > p::-webkit-scrollbar-track, #filters::-webkit-scrollbar-track, #description::-webkit-scrollbar-track {
        background: none;
    }

    .landingitem > p::-webkit-scrollbar-thumb, #filters::-webkit-scrollbar-thumb, #description::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 100px;
        border: solid 3px var(--lightbg);
        cursor: default;
    }

#description::-webkit-scrollbar-thumb {
    border: solid 3px var(--accent);
}

.landingitem > p::-webkit-scrollbar-thumb:hover, #filters::-webkit-scrollbar-thumb:hover, #description::-webkit-scrollbar-thumb:hover {
    background: white;
}

main {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto 1fr;
}

#filters {
    grid-row: span 2;
    text-align: center;
    height: 77.5vh;
    overflow-y: scroll;
    position: sticky;
    top: 10vh;
    margin-right: 2vh;
    padding: 1vh;
    box-shadow: rgba(0 0 0 / 0.5) 0 0.5vh 0.5vh;
    background: var(--lightbg);
    border-radius: 3vh;
    z-index: 5;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#smallen {
    position: relative;
    cursor: pointer;
}

#collapfilt {
    margin: 0;
    position: absolute;
    top: 0;
    right: 1vh;
    font-size: 3vh;
    font-weight: 900;
    transition: 0.2s ease-out;
}

#smallen:hover > p {
    color: yellow;
}

#searchbar {
    position: sticky;
    display: flex;
    top: 10vh;
    background-color: var(--accent);
    padding: 1vh;
    border-radius: 100vh;
    box-shadow: rgba(0,0,0,0.5) 0 0.5vh 0.5vh;
    z-index: 50;
    align-items: center;
}

#searchbar > input {
    flex: 1;
    font-size: 2.5vh;
    line-height: 1;
    outline: none !important;
    border: none;
    background: none;
    border-bottom: solid #aaa 3px;
    padding-bottom: 0.5vh;
    padding-left: 2vh;
    transition: 0.4s ease-out;
    border-radius: 5vh 0 0 5vh;
}

#searchbar > p {
    border-bottom: solid #aaa 3px;
    border-bottom-right-radius: 3px;
    margin: 0;
    padding: 0.5vh 1vh;
    font-size: 2.5vh;
    line-height: 1;
    transition: 0.4s ease-out;
    color: #ccc;
    cursor: pointer;
}

#searchbar > p:hover {
    text-shadow: white 0 0 3px;
    color: white;
}

    #searchbar > input:focus + p, #searchbar > input:focus, #searchbar > select:focus {
        border-bottom-color: white;
        box-shadow: white 0 5px 5px -6px;
    }

#smallen > h1, #searchbar > h1 {
    margin: 0;
    font-weight: 800;
    font-family: 'Gabarito';
    line-height: 1;
}

#searchbar > h1 {
    padding-left: 5vh;
    padding-right: 1vh;
    font-size: 3vh;
}

#searchbar > select {
    border: none;
    border-bottom: solid 3px #aaa;
    padding: 0 0.5vh 0.5vh 0;
    font-size: 2.5vh;
    font-weight: bold;
    border-radius: 0 2.5vh 2.5vh 3px;
    background-color: var(--accent);
    transition: 0.4s ease-out;
}

    #searchbar > select:focus {
        outline: none;
    }

.mainitem {
    display: grid;
    grid-template-columns: 12vh auto;
    grid-template-rows: 1fr auto;
    grid-gap: 1.5vh 1vh;
    background-color: var(--lightbg);
    padding: calc(1vh - 2px);
    border-radius: 2vh;
    border: solid 2px var(--lightbg);
    margin-top: 2vh;
    position: relative;
    transition: 0.5s ease-out;
    cursor: pointer;
}

.mainitem.fmainfeatured { border-color: yellow }

.mainitem:hover {
    box-shadow: yellow 0 0 1vh;
    transform: scale(1.01);
}

    .mainitem.fmainfeatured:hover {
        box-shadow: yellow 0 0 1vh, yellow 0 0 1vh inset;
    }

    .mainitem.fmainfeatured:hover > div > h2 {
        box-shadow: yellow 0 0 1vh;
    }

.mainitem > img {
    width: 12vh;
    height: 12vh;
    border-radius: 1vh;
}

    .mainitem > div > h2 {
        position: absolute;
        top: -2px;
        right: -2px;
        margin: 0;
        padding: 1vh 1.5vh;
        background-color: yellow;
        color: black;
        border-radius: 0 2vh 0 2vh;
        font-size: 2vh;
        line-height: 1;
        transition: 0.5s ease-out;
    }

.mainitem > div > h1 {
    font-size: 4vh;
    line-height: 1;
    margin: 0.5vh;
    font-family: Gabarito;
}

.mainitem > div > p {
    margin: 1vh 0.5vh 0 0.5vh;
}

.attr {
    grid-column: span 2;
    margin: -0.5vh;
}

.attr > div, .singleCoin {
    display: inline-flex;
    padding: 0.5vh;
    background: #222;
    background: linear-gradient(45deg,rgba(34, 34, 34, 1) 0%, rgba(18, 19, 27, 1) 100%);
    border-radius: 10vh;
    align-items: center;
    vertical-align: middle;
    height: 3.5vh;
    margin: 0.5vh;
    box-shadow: rgba(0 0 0 / 0.3) 0.2vh 0.2vh 0.3vh;
}

.attr > div > img, .singleCoin > img {
    height: 3.5vh;
    width: 3.5vh;
}

.attr > div > p {
    font-size: 2vh;
    line-height: 1;
    margin: 0 0.5vh;
}

.singleCoin {
    font-family: Ubuntu;
    font-size: 2vh;
    padding: 1vh;
}

.singleCoin > img {
    margin-right: 1vh;
}

.filterdiv {
    background-color: var(--accent);
    padding: 1vh;
    border-radius: 2vh;
    box-shadow: rgba(0 0 0 / 0.5) 0 0.5vh 1vh -0.5vh;
    margin-top: 2vh;
    position: relative;
}

.filterdiv > h2 {
    margin: 0;
    font-size: 3vh;
    line-height: 1;
    font-weight: 900;
    font-family: "Funnel Display";
    text-align: left;
}

    .filterdiv > h3 {
        margin: 0;
        position: absolute;
        top: 0.5vh;
        right: 0.5vh;
        padding: 1vh;
        font-size: 2.5vh;
        font-family: "Funnel Display";
        font-weight: 900;
        line-height: 1;
        background: var(--bg);
        background: linear-gradient(45deg, var(--bg) 0%, var(--lightbg) 100%);
        width: 2.5vh;
        height: 2.5vh;
        border-radius: 2.25vh 1.5vh 2.25vh 2.25vh;
        cursor: pointer;
        transition: 0.3s ease-out;
    }

        .filterdiv > h3:hover {
            color: yellow;
            box-shadow: rgba(255 255 255 / 0.5) 0vh 0vh 0.5vh;
        }

        .filterdiv > div {
            padding-top: 1vh;
        }

.filter {
    display: inline-flex;
    align-items: center;
    background: #222;
    margin: 0.5vh;
    padding: 1vh;
    border-radius: 10vh;
    line-height: 1;
    cursor: pointer;
    transition: 0.2s ease-out;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.filter > img {
    height: 3vh;
    width: 3vh;
    margin-right: 0.5vh;
}

.filter:hover {
    color: yellow;
}

        .filter.checked {
            background: rgba(9, 145, 9, 1);
        }

        .filter.checked:hover {
            color: black;
        }

#messagenone {
    display: none;
    text-align: center;
    position: fixed;
    top: 20vh;
    right: 37.5%;
    transform: translateX(50%);
}

#viewheader {
    display: grid;
    grid-template-columns: 10vw 1fr 20vw;
    border-radius: 3vh;
    padding: 1vh;
    background: var(--accent);
    margin: 2vh;
    height: 10vw;
    grid-gap: 1vw;
}

#viewicon {
    width: 10vw;
    height: 10vw;
    border-radius: 2vh;
}

#description {
    height: 10vw;
    overflow-y: auto;
}

#viewheader > div {
    display: grid;
    grid-template-rows: 5vw 2vw 2vw;
    grid-gap: 0.5vw;
}

#viewheader > div > button {
    font-size: 2.5vw;
    border-radius: 2vh;
}

#viewheader > div > p {
    margin: 0;
    height: fit-content;
    width: fit-content;
    align-self: center;
    justify-self: center;
    font-size: 1vw;
    color: #ccc;
    border-bottom: 2px solid #ccc;
    border-radius: 0 0 2px 2px;
    cursor: pointer;
    transition: 0.3s ease-out;
}

#viewheader > div > p:hover {
    color: white;
    border-color: white;
    box-shadow: rgba(255 255 255 / 0.5) 0 0.9vh 1vh -0.9vh;
}

#mobile {
    display: none;
}

#pcviewtabs {
    display: flex;
    justify-content: space-around;
    margin: 0 2vh;
}

#pcviewtabs > button {
    font-size: 3vh;
    font-family: Gabarito;
    padding: 1vh;
    width: 45vw;
    border-radius: 3vh 3vh 0 0;
    background-color: black;
    color: #ccc;
    border:none;
    transition: 0.2s ease;
}

    #pcviewtabs > button:hover {
        background-color: #222;
        color: white;
    }

    #pcviewtabs > button:active {
        transform: scale(1);
    }

    #pcviewtabs > button.selected {
        background-color: var(--lightbg);
        color: white;
    }

.pctab {
    display: none;
    padding: 1vh;
    grid-gap: 1vh;
    grid-template-columns: 1fr 1fr;
    background-color: var(--lightbg);
    margin: 0 2vh 2vh 2vh;
    border-radius: 3vh;
}

.pctab.selected {
    display: grid;
}

.pctab > div {
    padding: 2vh;
    border-radius: 2vh;
    box-shadow: rgba(0 0 0 / 0.5) 0 0 0.5vh;
}

.infop {
    margin: 0;
    font-size: 2.5vh;
    vertical-align: middle;
}

.moreinfo {
    font-size: 2vh;
    font-family: "Funnel Display";
    display: inline-flex;
    min-width: 2vh;
    padding: 0.5vh;
    height: 2vh;
    line-height: 1;
    border-radius: 4vh;
    background-color: var(--accent);
    border: var(--border) 2px solid;
    margin-left: 1vh;
    font-weight: 900;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s ease-out;
}

.moreinfo:hover {
    background-color: var(--border);
    transform: scale(1.1);
    box-shadow: var(--border) 0 0 0.5vh 0.5vh;
}

#maininfogrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vh;
}

@media(max-width: 1280px) {
    #maininfogrid {
        grid-template-columns: 1fr;
    }
}

#maininfofeatures {
    margin: 0;
}

#maininfofeatures::after {
    content: "";
    display: block;
    height: 2px;
    border-radius: 10px;
    width: 50%;
    background: linear-gradient(90deg, white 50%, var(--lightbg) 100%);
    margin: 0.5vh 0;
}

#maininfofeatures::before {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background: linear-gradient(90deg, var(--lightbg) 0%, var(--lightbgaccent) 50%, var(--lightbg) 100%);
    margin: 2vh 0;
}

#platforms > img, #currency > img {
    height: 3vh;
    width: 3vh;
    vertical-align: middle;
}

.clickableCurr {
    cursor: pointer;
    transition: 0.3s ease-out;
    text-decoration: underline;
}

.clickableCurr:hover {
    color: yellow;
}

@media(orientation:portrait) {
    #header {
        position: sticky;
        top: -25vw;
        height: 36vw;
        padding: 4vw;
        border-radius: 0 0 100% 100% / 0 0 20% 20%;
    }

    #ilogo {
        height: 20vw;
        width: 20vw;
        margin-right: 2vw;
        margin-bottom: 4vw;
        animation: logoPulse 30s ease-in-out infinite;
    }

    #logo {
        font-size: 12vw;
        color: white;
        margin: 0;
        margin-bottom: 4vw;
    }

    main#landing {
        min-height: 65vh;
        height: fit-content;
        display: block;
        padding: 4vw;
    }

    .landingitem {
        height: fit-content;
        padding: 4vw;
        border-radius: 4vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4vw;
        grid-gap: 2vw;
    }

        .landingitem:hover {
            transform: scale(1);
            box-shadow: yellow 0 0 1vh;
        }

        .landingitem > img {
            height: 50vw;
            width: 50vw;
        }

        .landingitem > h1 {
            font-size: 8vw;
        }

    main {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "search" "filters" "list";
    }

    #filters {
        grid-area: filters;
        height: 7vw;
        overflow-y: hidden;
        position: static;
        margin-right: 0;
        padding: 2vw;
        box-shadow: rgba(0 0 0 / 0.5) 0 1vw 1vw;
        border-radius: 6vw;
    }

    #collapfilt {
        right: 2vw;
        font-size: 6vw;
        rotate: 180deg;
    }

    #searchbar {
        position: static;
        margin-bottom: 4vw;
        padding: 2vw 3vw;
        display: grid;
        grid-template-columns: auto 1fr 7vw;
        box-shadow: rgba(0,0,0,0.5) 0 1vw 1vw;
        grid-row-gap: 2vw;
        border-radius: 6vw;
    }

        #searchbar > input {
            grid-column: span 2;
            font-size: 4.5vw;
            padding-bottom: 0.5vw;
            padding-left: 2vw;
            border-radius: 0 0 0 3px;
        }

        #searchbar > p {
            padding: 0.5vw 2vw;
            font-size: 5vw;
        }

        #searchbar > h1 {
            padding-left: 0;
            padding-right: 2vw;
            font-size: 5vw;
        }

        #searchbar > select {
            grid-column: span 2;
            padding: 0 2vw 0.5vw 0;
            margin-right: 0;
            font-size: 4.5vw;
            border-radius: 0 0 3px 3px;
        }

    .mainitem {
        display: grid;
        grid-template-columns: 20vw auto;
        grid-gap: 2vw;
        padding: calc(2vw - 2px);
        border-radius: 4vw;
        margin-top: 4vw;
    }

        .mainitem:hover {
            transform: scale(1);
        }

        .mainitem > img {
            width: 20vw;
            height: 20vw;
            border-radius: 2vw;
        }

        .mainitem > div > h2 {
            padding: 2vw 3vw;
            border-radius: 0 4vw 0 4vw;
            font-size: 3.5vw;
        }

        .mainitem > div > h1 {
            font-size: 7vw;
            margin: 1vw;
        }

        .mainitem > div > p {
            margin: 2vw 1vw 0 1vw;
            font-size: 3.5vw;
        }

    .attr {
        grid-column: span 2;
        margin: -1vw;
        text-align: center;
    }

        .attr > div, .singleCoin {
            padding: 1vw;
            border-radius: 10vh;
            height: 6vw;
            margin: 1vw;
        }

            .attr > div > img, .singleCoin > img {
                height: 6vw;
                width: 6vw;
            }

            .attr > div > p {
                font-size: 3.5vw;
                margin: 0 1vw;
            }

    .singleCoin {
        font-size: 4vw;
        padding: 2vw;
    }

        .singleCoin > img {
            margin-right: 2vw;
        }

    .filterdiv {
        padding: 2vw;
        border-radius: 4vw;
        box-shadow: rgba(0 0 0 / 0.5) 0 1vw 2vw -1vw;
        margin-top: 4vw;
    }

        .filterdiv > h2 {
            font-size: 5vw;
        }

        .filterdiv > h3 {
            top: 1vw;
            right: 1vw;
            padding: 2vw;
            font-size: 5vw;
            width: 5vw;
            height: 5vw;
            border-radius: 4.5vw 3vw 4.5vw 4.5vw;
        }

            .filterdiv > h3:hover {
                color: white;
                box-shadow: rgba(255 255 255 / 0.5) 0 0 1vw;
            }

        .filterdiv > div {
            padding-top: 2vw;
        }

    .filter {
        margin: 1vw;
        padding: 1vw 2vw;
        border-radius: 10vh;
        font-size: 3.5vw;
    }

        .filter > img {
            height: 5vw;
            width: 5vw;
            margin-right: 1vw;
            margin-left: -1vw;
        }

        .filter:hover {
            color: white;
        }

            .filter.checked:hover {
                color: white;
            }

    #messagenone {
        position: absolute;
        top: 50vh;
        right: 50%;
        transform: translateX(50%);
    }

    #mobile {
        display: block;
    }

    #pc {
        display: none;
    }
}