.utilScreen {
    display: none;
    flex-direction: column;
}

.limited {
    max-width: 25vw;
    font-size: 1.5vh;
    text-align: left;
    margin-top: -0.5vh;
}

@media(max-width:800px) {
    .limited {
        max-width: 100%;
        font-size: 3.5vw;
        padding: 0 2vw;
        margin-top: -1vw;
    }
}